@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

logotohome img{
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}



/* ========== common ========== */
html, body {
	font-size: 16px;
	font-family: sans-serif;
	color: #393939;
    margin-left: 15px;
    margin-bottom: 40px;
	background: #efefef;
}

/*シンプル囲み大見出し*/
h1 {
    color: #393939;/*文字色*/
    border: solid 3px #393939;/*線色*/
    padding: 0.5em;/*文字周りの余白*/
    border-radius: 0.5em;/*角丸*/
    text-align: center;/*中央寄せ*/
  }

h2{
    margin-left: 1em;
    margin-top: 1em;
}


/*チェックアイコン見出し*/
h3{
    position: relative;
    padding-left: 1.2em;/*アイコン分のスペース*/
    line-height: 1.4;
  }
  
  h3:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";/*アイコンのユニコード*/
    font-weight: 900;
    position: absolute;/*絶対位置*/
    font-size: 1em;/*サイズ*/
    left: 0;/*アイコンの位置*/
    top: 0;/*アイコンの位置*/
    color: #4682b4; /*アイコン色*/
    font-weight: 900;
  }

  /*---------上下二重線大見出し-----------*/
.cp_h1title {
	padding: 4px 0;
	border-top: 3px double #393939;
	border-bottom: 3px double #393939;
	text-align: center;
	color: #393939;
}
/*--------------------------------------*/

div{
    margin-top: 1em;
    margin-left: 3em;
}
p{
    margin-left: 3em;
}
span.blackback{
    text-indent: 3em;
    background: #393939;
    color: #efefef;
}

table{
    border-collapse: collapse;
    text-align: center;
}
th,td{
    padding: 5px 15px;
}

mark{
    background: linear-gradient(transparent 40%, #f0e68c 0%);
  }

/*-----ボタン 021 ------------------------------*/
.button021 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.button021 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(107,182,255, 0.2);
  transition: all 0.3s;
}
.button021 a:hover::before {
  opacity: 0;
  transform: scale(0.4, 0.4);
}
.button021 a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid rgb(107,182,255, .4);
  transform: scale(1.2, 1.2);
}
.button021 a:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
/*-------------------------------------------*/


/*リンクの下線消去*/
a {
    color: #479add;
    text-decoration:none; 
}
a:hover{
    color: #1476c6;
}

/*-----------左右に広がるボタン-------------------*/
.btn-animation-02 {
  display: inline-block;
  width: 200px;
  text-align: center;
  background-color: #4682b4;
  border: 2px solid #4682b4;
  font-size: 16px;
  color: #4682b4;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  position: relative;
}

.btn-animation-02 span {
  position: relative;
  z-index: 1;
}

.btn-animation-02::before,
.btn-animation-02::after {
  content: "";
  display: block;
  background-color: #efefef;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.btn-animation-02::before {
  left: 0;
}
.btn-animation-02::after {
  right: 0;
}

.btn-animation-02:hover:before,
.btn-animation-02:hover:after {
  width: 0;
  background-color: #efefef;
}

.btn-animation-02:hover {
    color: #efefef;
}
/*-------------------------------*/

/*センタリングclass*/
.center{
  text-align: center;
}
